<!DOCTYPE html>
<html ng-app='ContactsApp'>

<head>
    <title> Contacts </title>
    <base href='/'></base>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap.css" />
</head>

<body>
    <div ui-view></div>
    <!-- <div ng-view></div> -->
    <script src='lib/jquery/dist/jquery.min.js'></script>
    <script src='lib/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='lib/angular/angular.min.js'></script>
    <script src='lib/angular-route/angular-route.min.js'></script>
    <script src='lib/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script src='lib/angular-resource/angular-resource.min.js'></script>
    <script src='lib/angular-messages/angular-messages.min.js'></script>
    <script src='lib/angular-local-storage/dist/angular-local-storage.min.js'></script>
    <script src='src/app.js'></script>
    <script src='src/controllers/sessions.js'></script>
    <script src='src/controllers/welcome.js'></script>
    <script src='src/controllers/contacts.js'></script>
    <script src='src/controllers/users.js'></script>
    <script src='src/services/contacts.js'></script>
    <script src='src/services/auth.js'></script>
    <script src='src/directives/contacts.js'></script>
    <script src='src/filters/contacts.js'></script>
</body>

</html>
