<h2>New Contacts</h2>
<form name='newContact' ng-submit="submitForm()" novalidate class="form-horizontal">
    <!-- USERNAME -->
    <div class="form-group" ng-class="{ 'has-error' : newContact.username.$invalid && !newContact.username.$pristine }">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-6">
            <input type="text" name="username" class="form-control" ng-model="contact.username" ng-minlength="3" ng-maxlength="8" server-error>
            <p ng-show="newContact.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="newContact.username.$error.maxlength" class="help-block">Username is too long.</p>
            <p ng-show="newContact.username.$error.server" class="help-block">{{ errors.username }}</p>
        </div>
    </div>
    <!-- EMAIL -->
    <div class="form-group" ng-class="{ 'has-error' : newContact.email.$invalid && !newContact.email.$pristine }">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
            <input type="email" name="email" class="form-control" ng-model="contact.email" required server-error>
            <!-- <p ng-show="newContact.email.$invalid && !newContact.email.$pristine" class="help-block">Enter a valid email.</p> -->
            <p ng-show="newContact.email.$error.server" class="help-block">{{ errors.email }}</p>
        </div>
    </div>
    <!-- Phone_number -->
    <div class="form-group" ng-class="{ 'has-error' : newContact.phone_number.$invalid && !newContact.phone_number.$pristine }">
        <label class="col-sm-2 control-label">Phone number</label>
        <div class="col-sm-6">
            <input type="number" name="phone_number" class="form-control" ng-model="contact.phone_number" ng-minlength="11" ng-maxlength="11" required  server-error>
            <p class="help-block" ng-show="newContact.phone_number.$error.required || newContact.phone_number.$error.number">Valid phone number is required</p>
            <p class="help-block" ng-show="((newContact.phone_number.$error.minlength || newContact.phone_number.$error.maxlength) && newContact.phone_number.$dirty) ">phone number should be 11 digits</p>
            <p ng-show="newContact.phone_number.$error.server" class="help-block">{{ errors.phone_number }}</p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-2">
            <button class="btn btn-primary" ng-disabled="newContact.$invalid"> Create Contact </button>
        </div>
    </div>
</form>
